<h2>Customer List</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone Number</th>
  </tr>
<% for customer in @customers %>
  <tr>
    <th><p> <%= customer.name %></p></th>
  <th><p> <%= customer.address %></p></th>
  <th><p> <%= customer.phone_number %></p></th>

  <th><form method="post" action="/customer_index/<%= customer.id %>/delete">
   <input type="submit" value="Remove Customer"/>
 </form></th>

 <th><p><a href="/customer_index/<%= customer.id %>/edit"> Change Details</a></p></th>
</tr>


  <% end %>
